apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o k8s-manifests/
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: backend
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: backend
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml -o k8s-manifests/
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: backend
    spec:
      containers:
        - args:
            - sh
            - -c
            - sleep 40 && java -jar /app/target/demo-0.0.1-SNAPSHOT.jar
          env:
            - name: APP_BACKEND_URL
              value: http://localhost:8081
            - name: APP_CLIENT_ID
              value: spring-boot-app
            - name: APP_FRONTEND_URL
              value: http://localhost:5173
            - name: APP_KEYCLOAK_BASE_URL
              value: http://localhost:8080
            - name: APP_KEYCLOAK_REALM
              value: bitamer-realm
            - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
              value: org.postgresql.Driver
            - name: SPRING_DATASOURCE_PASSWORD
              value: A@077068
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://localhost:5432/notedb
            - name: SPRING_DATASOURCE_USERNAME
              value: postgres
            - name: SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_AUTHORIZATION_URI
              value: http://localhost:8080/realms/bitamer-realm/protocol/openid-connect/auth
            - name: SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER_URI
              value: http://localhost:8080/realms/bitamer-realm
            - name: SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_JWK_SET_URI
              value: http://localhost:8080/realms/bitamer-realm/protocol/openid-connect/certs
            - name: SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_TOKEN_URI
              value: http://localhost:8080/realms/bitamer-realm/protocol/openid-connect/token
            - name: SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_USER_INFO_URI
              value: http://localhost:8080/realms/bitamer-realm/protocol/openid-connect/userinfo
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_CLIENT_ID
              value: spring-boot-app
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_REDIRECT_URI
              value: http://localhost:8081/login/oauth2/code/keycloak
            - name: SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_KEYCLOAK_SCOPE
              value: openid,profile,email
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
              value: http://localhost:8080/realms/bitamer-realm
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI
              value: http://localhost:8080/realms/bitamer-realm/protocol/openid-connect/certs
          image: backend
          name: notes-backend
          ports:
            - containerPort: 8081
              protocol: TCP
      restartPolicy: Always
